<div class="container">
   	<div class="col-xs-3">
	<%= form_for(book) do |f| %>
	<h2>New book</h2>
			 <label>Title</label><br>
			 	<%= f.text_field :title, class:"book_title col-xs-12" %>
			 <label>Opinion</label><br>
			 	<%= f.text_area :opinion, class:"book_body col-xs-12 field" %>
			 	<%= f.submit class:"edit_book_#{book.id} btn btn-primary col-xs-12" %>
	<% end %>
	</div>
</div>